body {
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
  font-weight: 200;
  font-style: normal;
  background-color: rgb(11, 11, 103);
  color: rgb(218, 218, 223);
  margin: 0;
  padding: 20px;
}

.header-wrapper {

  position: relative;
  text-align: center;
  height: 120px;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  justify-content: center;
}

.header-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 98.6%;
  height: 261%;
  object-fit: cover;
  opacity: 0.6;
  border: 8px solid rgb(1, 1, 19);
}


.rubrik-box {
  position: relative;
  border: 4px solid rgb(23, 22, 22);
  padding: 30px;
  margin: 15px auto;
  max-width: 500px;
  text-align: center;
  font-size: 48px;
  border-radius: 70px;
  background-color: #4e4b4a;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.main-wrapper {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.text-content {
  flex-grow: 1;
  margin-left: 20px;
  text-align: right;
  font-size: 14px;
  color: #e0e0e0;
}

.text-content h2 {
  font-size: 19px;

}

.text-content p {
  font-size: 9px;
  line-height: 1.3;
}

.sidebar {
  width: 250px;
  background-color: rgb(11, 11, 103);
  padding: 20px;
  height: 100vh;
  box-shadow: 2px 0 10px rgba(39, 39, 42, 0.5);
  border: 2px solid black;
  flex-shrink: 0;
}

.sidebar button, .sidebar .button {
  display: block;
  width: 89%;
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
  background-color: #64615f;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.referens-button {
  display: block;
  width: 89%;
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  background-color: #777da4;
  color: rgb(237, 225, 225);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.referens-button:hover {
  background-color: #2d3052;
}

.referens-popup {
  display: none;
  background-color: rgb(236, 227, 227);
  color: black;
  padding: 25px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  font-size: 17px;
}

.referens-popup a:visited {
  color: rgb(80, 84, 146);
}

#toggle-referens:checked+.referens-popup {
  display: block;
}

.referens-popup a:hover {
  text-decoration: underline;
}

.sidebar button:hover, .sidebar .button:hover {
  background-color: #454343;
}

.content {
  flex-grow: 1;
  padding: 18px;
}

section {
  margin: 480px 0;
}

h2 {
  font-size: 25px;
  margin-bottom: 17px;
}

ul {
  list-style-type: circle;
  padding-left: 20px;
  font-size: 19px;
  line-height: 2.3;
  color: white;
}

li {
  margin-bottom: 8px;
}

.scroll-top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 28px;
  background-color: #4d2bb1;
  color: rgb(8, 8, 11);
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(48, 40, 40, 0.3);
  cursor: pointer;
  z-index: 1000;
}

.scroll-top-button:hover {
  background-color: #2b2b50;
}

.rotate-up {
  display: inline-block;
  transform: rotate(90deg);
}

.image-row {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-box {
  flex: 1 1 36%;
  text-align: left;
}

.text-image {
  height: 300px;
  width: 78%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.image-box figcaption {
  margin-top: 7px;
  font-size: 14px;
  color: #e0e0e0;
}